* {
  margin: 0;
  padding: 0;
}

#titulo {
  font-size: sans-serif;
  color: green;
  margin-left: 0%;
}

#subtitulo {
  font-size: sans-serif;
  color: rgb(103, 155, 26);
  margin-left: 5%;
}

body {
  background-color: rgb(14, 13, 13);
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(19, 71, 19);
  margin-left: 36%;
  margin-top: 4%;
  justify-content: center;
}

input {
  border-radius: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: rgb(55, 255, 55);
  display: block;
}

form {
  margin-left: 10%;
}
.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo input[type="date"] {
  padding: 0.4em;
  border: 1px solid rgb(19, 71, 19);
  box-shadow: 3px 3px 3px rgb(7, 26, 7);
}
